/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400&display=swap');

/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #22252c;
  background-color: #ffffff;
  width: 100%;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #22252c;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #22252c;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #22252c;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #22252c;
  line-height: 1.8;
}

a {
  color: #22252c;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: #999999;
}

main {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  margin-top: 50px;
}

/* Navigation */
.openbtn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  z-index: 900;
  cursor: pointer;
}

.openbtn:hover {
  color: #999999;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #22252c;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.sidenav .active {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
  color: #f1f1f1;
}

.closebtn {
  cursor: pointer;
}

.nav-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}

.nav-social a {
  margin: 0 5px;
  padding: 0;
  font-size: 18px;
  color: #818181;
}

.nav-social a:hover {
  color: #f1f1f1;
}

@media only screen and (min-width: 768px) {
  .openbtn {
    top: 40px;
    right: 40px;
    font-size: 40px;
  }
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 25px;
  background-color: #000000;
  background: linear-gradient(
      45deg,
      rgba(35, 166, 213, 0.52),
      rgba(35, 213, 171, 0.73)
    ),
    url(../assets/images/me.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header > h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #22252c;
}

header > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #22252c;
  line-height: 1.6;
  margin-top: 15px;
}

.header-contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  margin-top: 30px;
  padding: 15px 10px;
  border: 2px solid #22252c;
  font-size: 18px;
  font-weight: 400;
  transition: 0.25s ease-in-out;
}

.header-contact:hover {
  color: #dcdcdc;
  background-color: #22252c;
}

.more-info {
  position: absolute;
  left: calc(50% + -12.5px);
  bottom: 50px;
  font-size: 50px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 100px;
    background: linear-gradient(
        45deg,
        rgba(35, 166, 213, 0.52),
        rgba(35, 213, 171, 0.73)
      ),
      url(../assets/images/me.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header > h1 {
    font-size: 60px;
  }

  header > p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 200px;
    background: linear-gradient(
        45deg,
        rgba(35, 166, 213, 0.52),
        rgba(35, 213, 171, 0.73)
      ),
      url(../assets/images/me.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header > h1 {
    font-size: 70px;
  }

  header > p {
    font-size: 25px;
  }
}

/* Projects */
.project-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: -15px;
  padding: 60px 15px;
  width: calc(100% + 30px);
  min-height: 300px;
  overflow: hidden;
}

.project-card:nth-child(2) {
  margin-top: 20px;
  background-color: #48dacb;
}

.project-card:nth-child(3) {
  background-color: #0e60fb;
}

.project-card:nth-child(4) {
  background-color: #23a6d5;
}

.project-card:nth-child(5) {
  background-color: #656565;
}

.project-info {
  width: 100%;
}

.project-info > h4 {
  line-height: normal;
}

.project-info > p {
  line-height: normal;
  margin-top: 8px;
}

.light {
  color: #ffffff;
}

.project-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  margin-top: 10px;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
}

.project-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #cdcdcd;
}

.project-link i {
  font-size: 80%;
  margin-left: 8px;
}

.project-image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .project-card {
    position: relative;
    width: 100%;
    flex-direction: row;
    border-radius: 10px;
    padding: 60px 40px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .project-card:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  }

  .project-info {
    width: 55%;
  }

  .project-image {
    display: block;
    position: absolute;
    width: 320px;
    height: 115%;
    top: 1px;
    right: 0;
    content: ' ';
    background-size: cover;
    background-position: left 20px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1024px) {
  .project-image {
    display: block;
    position: absolute;
    width: 380px;
    height: 135%;
    top: 1px;
    right: 0;
    content: ' ';
    background-size: cover;
    background-position: left 10px;
    background-repeat: no-repeat;
  }
}

/* Resume */
.resume > h3 {
  margin-top: 20px;
}

.resume i,
svg {
  font-size: 80%;
  margin-right: 5px;
}

.resume-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.work-sub {
  margin: 5px 0;
}

.resume-bold {
  font-weight: 400;
  font-size: 23px;
}

.resume-light {
  color: #999999;
}

.resume-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.skills-sub {
  margin: 5px 0;
}

.skills-sub > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .resume i,
  svg {
    font-size: 90%;
  }

  .resume-work {
    justify-content: space-between;
    flex-direction: row;
  }

  .resume-skills {
    flex-direction: row;
  }

  .skills-sub {
    margin: 5px 100px 5px 0;
  }
}

/* Contact */
.contact-social a {
  font-size: 30px;
}

.job-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #ededed;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
}

.job-status > p {
  font-weight: 400;
}

.available {
  padding: 5px 10px;
  background-color: #0c913d;
  border-radius: 5px;

  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #cbcbcb;
  border-radius: 5px;
  font-size: 24px;
  appearance: none;
  outline: 0;
}

button {
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  background-color: #cbcbcb;
  border-radius: 5px;
  border-color: transparent;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover {
  background-color: #9f9f9f;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #22252c;
  margin-top: 20px;
  padding: 30px 0;
}

footer > p {
  font-size: 15px;
  color: #9f9f9f;
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}

.footer-social a {
  margin: 0 8px;
  font-size: 28px;
  color: #ffffff;
}

.footer-social a:hover {
  color: #656565;
}
